@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fffaf3;
  background-color: #191724;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

hr {
  border: #282441 solid 1px;
}

header {
  margin: 0.3rem;
  padding: 0.3rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav,
ul,
ol,
a {
  margin: 0.1rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-a {
  margin: 0.3rem;
  gap: 0.3rem;
  color: #d7827e;
  text-decoration: none;
  border: #44415a solid 0.1rem;
  border-radius: 0.3rem;
}

.nav-a:hover {
  color: #fffaf3;
}

h1 {
  color: #ea9d34;
}

h2,
h3 {
  color: #c4a7e7;
}

a {
  color: #ea9d34;
  text-decoration: none;
}

#a-tops:hover {
  color: #fffaf3;
}

.div-container {
  margin: 0.3rem;
  gap: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div-row {
  margin: 0.2rem;
  padding: 0.2rem;
  gap: 0.2rem;
  border: #56526e solid 0.1rem;
  border-radius: 0.3rem;
}

.div-img {
  border: #e2e2e2 solid 0.2rem;
  border-bottom: 0rem;
}

button {
  margin: 0.2rem;
  padding: 0.2rem;
  gap: 0.3rem;
  background-color: #21202e;
  border: #454361 solid 0.1rem;
  border-radius: 0.3rem;
}

.button-f {
  margin: 0.2rem;
  padding: 0rem;
  cursor: pointer;
  background-color: #21202e;
  border: #454361 solid 0.1rem;
  border-radius: 0.3rem;
}

.button-f:hover {
  background-color: #454361;
  color: #fffaf3;
}

.button-a {
  margin: 0.4rem;
  padding: 0.2rem;
  padding-top: 0.2rem;
}

section {
  margin: 0.4rem;
  padding: 0.4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  text-wrap: wrap;
  text-align: center;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
